Terradue.OpenSearch.userprefs
/Terradue.OpenSearch/bin/
/Terradue.OpenSearch/obj/
/Terradue.OpenSearch/bin
/Terradue.OpenSearch/obj
/packages/
/packages

/Terradue.OpenSearch.Test/bin/

/Terradue.OpenSearch.Test/obj/
build
Terradue.OpenSearch/packages
Terradue.OpenSearch.Test/packages
