<configuration>
	<appSettings>
	</appSettings>
	<system.runtime.caching>
		<memoryCache>
			<namedCaches>
				<add name="opensearch" cacheMemoryLimitMegabytes="512" pollingInterval="00:00:30" />
				<add name="iosr-cache" cacheMemoryLimitMegabytes="128" pollingInterval="00:00:30" />
				<add name="mosr-cache" cacheMemoryLimitMegabytes="128" pollingInterval="00:00:30" />
			</namedCaches>
		</memoryCache>
	</system.runtime.caching>
</configuration>